<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=.\SQLSERVER;AttachDbFilename=|DataDirectory|\lightbox.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		<add name="PhotoConnectionString" connectionString="Data Source=DELL;Initial Catalog=Photo;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
		<add name="PhotoConnectionString1" connectionString="Data Source=DELL ;Initial Catalog=Photo;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="SamirPhotoAlbumsConnectionString" connectionString="Data Source='DELL';Integrated Security=True;Pooling=False;Initial Catalog='SamirPhotoAlbums'" providerName="System.Data.SqlClient"/>
		<add name="SamirPhotoAlbumsConnectionString1" connectionString="Data Source=DELL;Initial Catalog=SamirPhotoAlbums;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
	</system.web>
</configuration>
